/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --bg_image: repeating-linear-gradient(to right, #d3d3d3 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgba(0, 0, 0, 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 .01%, #1a1a1a);
    --width_header: clamp(23.438rem, 16.2859rem + 30.5157vw, 43.75rem);
    --font_text_header: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --font_text_tag: clamp(0.875rem, 0.5909rem + 1.2121vw, 1.5rem);
    --black_color: #000000;
    --white_color: #fff;
    --border: 2px solid var(--black_color);
    --fs_text: 14px;
    --ff-inter: Inter;
    --ff-2P: PressStart2P;
}